html, body{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0,0,0, 0.7)), url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
header{
    margin:2rem 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
h5{
    font-weight: lighter;
}
.logo{
    margin-left: 0px;
    justify-content: center;
    width: 6rem;
    height:5rem;
}
.btn-xl{
    font-size: 23px;
    height: 3rem;
    width: 15rem;
}
.btn-primary{
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    font-weight: 500;
    border-radius: 10px;
    
}
.btn-primary:hover{
    background-color: rgb(67, 112, 67);
    border-color:rgb(67, 112, 67) ;
}